<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>
		<log4net>
			<appender name="ElmahIoAppender" type="Elmah.io.Sitecore.log4net.ElmahIoAppender, Elmah.io.Sitecore.log4net" patch:before="*[@name='LogFileAppender']">
				<logId value="LOG_ID" />
			</appender>
			<root>
				<appender-ref ref="ElmahIoAppender" patch:before="*[@ref='LogFileAppender']" />
			</root>
		</log4net>
	</sitecore>
</configuration>